<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to Islamic History Page</h1>
    <div class="container">
      <marquee behavior="alternate" style="background-color: brown;" >
        <h2 style="color: silver;">haañ dikhā de ai tasavvur phir vo sub.h o shaam tū <br>
            dauḌ pīchhe kī taraf ai gardish-e-ayyām tū 
        </h2>

      </marquee>
    </div>
</body>
</html>